<Column class="screen" width="fill" height="fill">
    <Login if="{screen}" equals="login" />
    <Shell else />
</Column>

<link rel="theme" href="crates/remote-ui/styles/theme.json" />
<import name="Login" from="crates/remote-ui/templates/login.xml" />
<import name="Shell" from="crates/remote-ui/templates/shell.xml" />
